[bootstrap]
userpass_identity = {{ RUCIO_CFG_BOOTSTRAP_USERPASS_IDENTITY | default('ddmlab') }}
userpass_pwd = {{ RUCIO_CFG_BOOTSTRAP_USERPASS_PWD | default('secret') }}
userpass_email = {{ RUCIO_CFG_BOOTSTRAP_USERPASS_EMAIL | default('') }}
x509_identity = {{ RUCIO_CFG_BOOTSTRAP_X509_IDENTITY | default('') }}
x509_email = {{ RUCIO_CFG_BOOTSTRAP_X509_EMAIL | default('') }}
gss_identity = {{ RUCIO_CFG_BOOTSTRAP_GSS_IDENTITY | default('') }}
gss_email = {{ RUCIO_CFG_GSS_BOOTSTRAP_EMAIL | default('') }}
ssh_identity = {{ RUCIO_CFG_BOOTSTRAP_SSH_IDENTITY | default('') }}
ssh_email = {{ RUCIO_CFG_GSS_BOOTSTRAP_EMAIL | default('') }}
saml_id = {{ RUCIO_CFG_BOOTSTRAP_SAML_ID | default('') }}
saml_email = {{ RUCIO_CFG_BOOTSTRAP_SAML_EMAIL | default('') }}

[database]
default = {{ RUCIO_CFG_DATABASE_DEFAULT | default('sqlite:////tmp/rucio.db') }}
{% if RUCIO_CFG_DATABASE_SCHEMA is defined %}
schema = {{ RUCIO_CFG_DATABASE_SCHEMA }}
{%- endif %}
pool_reset_on_return = {{ RUCIO_CFG_DATABASE_POOL_RESET_ON_RETURN | default('rollback') }}
echo = {{ RUCIO_CFG_DATABASE_ECHO | default('0') }}
pool_recycle = {{ RUCIO_CFG_DATABASE_POOL_RECYCLE | default('600') }}

[alembic]
cfg = /opt/rucio/etc/alembic.ini
