#!/bin/bash


{% set ns = namespace(secrets='') %}
{% set VO_COUNT = RUCIO_FTS_VO_COUNT | int %}
{% for n in range(0,VO_COUNT) %}
    {% set vo = '$' + '{RUCIO_FTS_VO_' + n|string + '}' %}
    {% set voms = '$' + '{RUCIO_FTS_VOMS_' + n|string + '}' %}

    printf "=================== {{ vo }} Renewal =========================\n\n"

    # We have to copy the certificates because we cannot change permissions on them as mounted secrets and voms-proxy is particular about permissions
    mkdir /tmp/{{ vo }}/
    cp /opt/rucio/certs/{{ vo }}/{{ RUCIO_LONG_PROXY }} /tmp/{{ vo }}/long.proxy
    chmod 400 /tmp/{{ vo }}/long.proxy

    # Generate a proxy with the voms extension if requested and add them to string for use in kubectl
    voms-proxy-init2 -valid 24:00 -cert /tmp/{{ vo }}/long.proxy -key /tmp/{{ vo }}/long.proxy -out /tmp/x509up_{{ vo }} -voms {{ voms }} -rfc -timeout 5

    {% set ns.secrets = ns.secrets + ' --from-file=/tmp/x509up_' +  vo + ' ' %}

    # Delegate the proxy to the requested servers
    {% if RUCIO_FTS_SERVERS is defined %}
      {% set ftses = RUCIO_FTS_SERVERS.split(',') %}
      {% for fts in ftses %}
        fts-rest-delegate --hours=24 --force --key=/tmp/x509up_{{ vo }} --cert=/tmp/x509up_{{ vo }} -s {{ fts }}
      {% endfor %}
    {% endif %}

  printf "\n=============== {{ vo }} Renewal Complete ====================\n\n"
  


{% endfor %}


# Create the corresponding kubernetes secrets if asked
{% if RUCIO_FTS_SECRETS is defined %}
  {% set fts_secrets = RUCIO_FTS_SECRETS %}
  kubectl create secret generic  {{ fts_secrets }} {{ ns.secrets }} --dry-run=client -o yaml | kubectl apply --validate=false  -f  -
{% endif %}
