#!/bin/bash

{% if RUCIO_FTS_VOS is defined -%}
{% set vos = RUCIO_FTS_VOS.split(' ') %}
{% for vo in vos %}

printf "=================== {{ vo }} Renewal =========================\n\n"

# We have to copy the certificates because we cannot change permissions on them as mounted secrets and voms-proxy is particular about permissions
mkdir /tmp/{{ vo }}/
cp /opt/rucio/certs/{{ vo }}/{{ RUCIO_LONG_PROXY }} /tmp/{{ vo }}/long.proxy
chmod 400 /tmp/{{ vo }}/long.proxy

# Generate a proxy with the voms extension if requested
if [ $RUCIO_FTS_VOMS_{{ vo | upper }} ]
then
    voms-proxy-init2 -valid 24:00 -cert /tmp/{{ vo }}/long.proxy -key /tmp/{{ vo }}/long.proxy -out /tmp/x509up_{{ vo }} -rfc -timeout 5 -voms $RUCIO_FTS_VOMS_{{ vo | upper }}
else
    voms-proxy-init2 -valid 24:00 -cert /tmp/{{ vo }}/long.proxy -key /tmp/{{ vo }}/long.proxy -out /tmp/x509up_{{ vo }} -rfc -timeout 5
fi

# Delegate the proxy to the requested servers
{% if RUCIO_FTS_SERVERS is defined %}
{% set ftses = RUCIO_FTS_SERVERS.split(',') %}
{% for fts in ftses %}
fts-rest-delegate --hours=24 --force --key=/tmp/x509up_{{ vo }} --cert=/tmp/x509up_{{ vo }} -s {{ fts }}
{% endfor %}
{% endif %}

# Create the corresponding kubernetes secrets if asked
{% if RUCIO_FTS_SECRETS is defined %}
{% set secrets = RUCIO_FTS_SECRETS.split(',') %}
{% for secret in secrets %}
kubectl create secret generic  {{ secret }}-{{ vo }} --from-file=/tmp/x509up_{{ vo }} --dry-run=client -o yaml | kubectl apply --validate=false  -f  -
{% endfor %}
{% endif %}

printf "\n=============== {{ vo }} Renewal Complete ====================\n\n"

{% endfor %}
{%- endif %}
