{% if RUCIO_CFG_COMMON_MULTI_VO is defined %}
[common]
multi_vo = {{ RUCIO_CFG_COMMON_MULTI_VO }}
{% endif %}

[client]
rucio_host = {{ RUCIO_CFG_RUCIO_HOST | default('localhost') }}
auth_host = {{ RUCIO_CFG_AUTH_HOST | default('localhost') }}
ca_cert = {{ RUCIO_CFG_CA_CERT | default('/etc/pki/tls/certs/ca-bundle.crt') }}
auth_type = {{ RUCIO_CFG_AUTH_TYPE | default('') }}
username = {{ RUCIO_CFG_USERNAME | default('') }}
password = {{ RUCIO_CFG_PASSWORD | default('') }}
account = {{ RUCIO_CFG_ACCOUNT | default('') }}
client_cert = {{ RUCIO_CFG_CLIENT_CERT | default('') }}
client_key = {{ RUCIO_CFG_CLIENT_KEY | default('') }}
client_x509_proxy = {{ RUCIO_CFG_CLIENT_X509_PROXY | default('') }}
request_retries = {{ RUCIO_CFG_REQUEST_RETRIES | default('3') }}
{% if RUCIO_CFG_CLIENT_VO is defined %}vo = {{ RUCIO_CFG_CLIENT_VO }}{% endif %}

[policy]
permission = {{ RUCIO_CFG_POLICY_PERMISSION | default('generic')}}
schema = {{ RUCIO_CFG_POLICY_SCHEMA | default('generic') }}
lfn2pfn_algorithm_default = {{ RUCIO_CFG_POLICY_LFN2PFN_ALGORITHM_DEFAULT | default('hash') }}
support = {{ RUCIO_CFG_POLICY_SUPPORT | default('https://github.com/rucio/rucio/issues/') }}
support_rucio = {{ RUCIO_CFG_POLICY_SUPPORT_RUCIO | default('https://github.com/rucio/rucio/issues/') }}
{% if RUCIO_CFG_POLICY_PACKAGE is defined %}package = {{ RUCIO_CFG_POLICY_PACKAGE }}{% endif %}
